@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w wypożyczalni samochodów AUTOHIRE</h1>
    @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
    <p>Zapraszamy do zapoznania się z naszą ofertą</a>.</p>
</div>
